@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    background: #fff;
  }

  .text-lime-500 {
    color: #65a30d;
  }

  .text-gray-400 {
    color: #6b7280;
  }

  .text-cyan-500 {
    color: #0891b2;
  }

  .bg-slate-100 {
    background-color: #f1f5f9;
  }

  .text-orange-500 {
    color: #f97316;
  }

  .bg-whiteBone {
    background-color: #f8fafc;
  }

  @media (min-width: 768px) {
    :root {
      --rsbs-max-w: 70%;
      --rsbs-ml: auto;
      --rsbs-mr: auto;
    }
  }

  @media (min-width: 1024px) {
    :root {
      --rsbs-max-w: 717px;
      --rsbs-ml: auto;
      --rsbs-mr: auto;
    }
  }

  .bottom-safe {
    bottom: calc(1rem + env(safe-area-inset-bottom));
  }

  a:focus {
    outline: none !important;
  }

  /* Hide Arrow Number Input on Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide Arrow Number Input on Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
